/* Specific component styles if needed */
:host {
  display: block;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 / noir-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626; /* crimson-600 */
}
